{% extends "tasks/base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="w-50">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Contact Us!</h2>
            </div>
            <div class="card-body">
                <form method="post" action="{% url 'tasks:contact' %}">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="mb-3">
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                            {% if field.errors %}
                                <div class="alert alert-danger">
                                    {{ field.errors }}
                                </div>
                            {% endif %}
                            {{ field|add_class:"form-control" }}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary w-100">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
