{% extends "tasks/base.html" %}

{% block content %}
  <div class="container my-5">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="card">
          <div class="card-body text-center">
            <h2 class="card-title">Password Change Successful</h2>
            <p class="card-text">Your password has been changed successfully!</p>
            <a href="{% url 'accounts:login' %}" class="btn btn-primary">Login Again</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
