{% extends "tasks/base.html" %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body text-center">
            <h2 class="card-title">Password Reset Email Sent</h2>
            <p class="card-text">
            </p>
            <p class="card-text">An email has been sent with instructions to reset your password. If you don't receive an email, please make sure you've entered the address you registered with, or check your spam folder.</p>
            <a href="{% url 'accounts:login' %}" class="btn btn-primary mt-3">Back to Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
