{% extends "tasks/base.html" %}
{% load static %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body text-center">
            <h2 class="card-title">Password Reset Successful</h2>
            <p class="card-text">Your password has been reset successfully. You can now log in using your new password.</p>
            <a href="{% url 'accounts:login' %}" class="btn btn-primary mt-3">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
